<h1>{{story.title}}</h1>
<h5>By {{story.author}}</h5>
<img src="{{story.image}}" alt="{{story.title}}" />
<p>
  {{story.body}}
</p>

<p>
  <em>{{story.date}}</em>
</p>

<button {{action 'delete' story}}>Kill It!</button>
